@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

:root {
  --bblu: #268086;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.row {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.container {
  padding: 80px 0;
}

html {
  scroll-behavior: smooth;
}











/* Navigtion Bar */




nav {
  width: 100%;
  height: 80px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* styling nav logo */
.nav__logo {
  font-size: 30px;
  font-weight: 500;
  color: var(--bblu);
}

/* styling nav links */
.nav__link {
  margin: 0 8px;
  color: var(--bblu);
  font-weight: 500;
}

/* styling nav button */
.nav__link__button {
  padding: 8px 9px;
  border-radius: 4px;
  background-color: var(--bblu);
  border: none;
  color: white;
  font-size: 16px;
}

/* Header */
.header__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.header__title {
  font-size: 40px;
}

.header__button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: var(--bblu);
  font-weight: 500;
  font-size: 16px;
}

#products {
  background-color: lightgrey;
}

.products__title {
  font-size: 30px;
}

.products__para {
  max-width: 300px;
  line-height: 1.5;
}

.products__row {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  line-height: 1.5;
  gap: 20px;
}

.card__title {
  font-weight: 500;
}

.card__icon {
  background-color: var(--bblu);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: none;
  color: white;
  font-size: 24px;
}

/* Features */

#features {
  background-color: darkgrey;
}

.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.5;
}

.features__title {
  font-size: 30px;
}

.features__para {
  max-width: 500px;
  padding: 12px;
}

.features__chart__wrapper {
  display: flex;
  gap: 100px;
  margin-top: 100px;
}

.features__image {
  width: 50%;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  text-align: left;
  align-items: start;
}

.dynamic__chart {
  font-size: 28px;
}

.features__link {
  font-size: 16px;
  border-radius: 4px;
  color: var(--bblu);
  font-weight: 700;
  padding-bottom: 2px;
  transition: 200ms;
  border-bottom: 1px solid transparent;
}

.features__link:hover {
  border-color: var(--bblu);
}

/* Reviews */

#reviews {
  background-color: lightgrey;
}

.reviews__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.reviews__title {
  font-size: 36px;
}

.reviews__para {
  max-width: 600px;
  line-height: 1.5;
}

.reviews__result {
  display: flex;
  width: 600px;
  margin: 60px 0;
}

.reviews__para__wrapper {
  background-color: var(--bblu);
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  line-height: 1.5;
  color: white;
  font-size: 13px;
  font-weight: 500;
}

.reviews__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 70px 0;
  gap: 10px;
}

.reviews__profile__pic {
  width: 20%;
  border-radius: 9999px;
}

.rate__icon {
  color: rgba(235, 163, 9, 0.5);
  font-size: 9px;
}

.reviews__profile__name {
  font-size: 16px;
}

.reviews__profile__description {
  font-size: 16px;
  font-weight: 300;
}

/* Pricing Section */

#pricing {
  background-color: var(--bblu);
}

.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.pricing__title {
  font-size: 32px;
  color: white;
}

.pricing__para {
  max-width: 600px;
  color: white;
  font-size: 13px;
  line-height: 1.5;
}

.pricing__plans {
  display: flex;
  width: 100%;
  gap: 36px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.plan {
  max-width: 300px;
  width: 100%;
  height: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-shadow: 0 8px 20px black;
}

.price__title {
  color: white;
  padding-top: 20px;
  font-size: 36px;
  font-weight: 600;
}

.price__icon {
  font-size: 42px;
  color: white;
}

.price__cost {
  color: white;
  font-weight: 700;
}

.pricing__features {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 20px;
  list-style: none;
  color: black;
  font-weight: 300;
}

.plan__button {
  margin-top: 40px;
  width: 100px;
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 2px;
  font-weight: 600;
}

/* Footer */

footer {
  background-color: lightgrey;
  height: 64px;
  color: var(--bblu);
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  font-size: 18px;
  font-weight: 500;
}

.footer__link {
  margin: 0 8px;
  color: var(--bblu);
  font-size: 14px;
}

/* Media Queries! */
/* Tablets */

@media (max-width: 768px) {
  .nav__link,
  .naav__link__button {
    font-size: 14px;
  }
  .header__title {
    font-size: 32px;
  }
  .header__para {
    font-size: 14px;
  }
  .header__button {
    font-size: 12px;
  }

  .card {
    width: 50%;
  }

  .dynamic__chart {
    font-size: 20px;
  }
  .chart__para {
    font-size: 14px;
  }
}

/* Phones */

@media (max-width: 500px){
    .nav__link:not(:last-child){
        display: none;
    }

    .header__title{
        font-size: 26px;
    }

    /* products */

    .products__title{
        font-size: 26px;
    }
    .products__para{
        font-size: 14px;
    }
    .card{
        font-size: 14px;
        width: 100%;
    }

    /* features */

    .features__title{
        font-size: 26px;
    }
    .features__para{
        font-size: 14px;
        font-weight: 500;
    }

    .features__chart__wrapper{
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        gap: 16px;
    }
    .features__image{
        width: 100%;
    }
    .features__chart__wrapper2{
        display: flex;
        flex-direction: column-reverse;
    }
    .about__wrapper{
        text-align: center;
        align-items: center;
    }

    footer{
        padding-left: 12px;
        margin-left: 76px;
    }
    .footer__logo{
        display: none;
    }

    /* reviews */

 .reviews__result{
    flex-direction: column;
    height: 600px;
    width: 100%;
 }
 .reviews__para__wrapper,
 .reviews__profile{
    width: 100%;
    height: 50%;
 }

    }

    @media (max-width: 640px){
        .reviews__result{
            width: 80%;
        }
        .reviews__title{
            font-size: 26px;
        }
        .reviews__para{
            font-size: 15px;
        }
    }
